{
    "version": 4,
    "cmakeMinimumRequired": {
        "major": 3,
        "minor": 20
    },
    "configurePresets": [
        {
            "name": "msvc-debug",
            "displayName": "MSVC Debug with Qt",
            "binaryDir": "${sourceDir}/build/msvc",
            "cacheVariables": {
                "CMAKE_PREFIX_PATH": "<path-to-Qt>/Qt/6.8.2/msvc2022_64",
                "CMAKE_TOOLCHAIN_FILE": "<path-to-vcpkg>/vcpkg/scripts/buildsystems/vcpkg.cmake",
                "VCPKG_TARGET_TRIPLET": "x64-windows",
                "CMAKE_RUNTIME_OUTPUT_DIRECTORY": "${sourceDir}/bin/msvc",
                "BUILD_TEST_TARGET": "ON"
            }
        },
        {
            "name": "msvc-release",
            "displayName": "MSVC Release with Qt",
            "binaryDir": "${sourceDir}/build/msvc",
            "cacheVariables": {
                "CMAKE_PREFIX_PATH": "<path-to-Qt>/Qt/6.8.2/msvc2022_64",
                "CMAKE_TOOLCHAIN_FILE": "<path-to-vcpkg>/vcpkg/scripts/buildsystems/vcpkg.cmake",
                "VCPKG_TARGET_TRIPLET": "x64-windows",
                "CMAKE_RUNTIME_OUTPUT_DIRECTORY": "${sourceDir}/bin/msvc",
                "BUILD_TEST_TARGET": "OFF",
                "CMAKE_CXX_FLAGS": "/DQT_NO_DEBUG_OUTPUT"
            }
        }
    ],
    "buildPresets": [
        {
            "name": "msvc-debug-build",
            "configurePreset": "msvc-debug",
            "configuration": "Debug",
            "jobs": 16
        },
        {
            "name": "msvc-release-build",
            "configurePreset": "msvc-release",
            "configuration": "Release",
            "jobs": 16
        }
    ]
}
